<!DOCTYPE html>
<html>
   <head>
     <meta charset="UTF-8">
     <title>DMS 321 First Homework</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link href="style.css" rel="stylesheet">
   </head>
   <body>
   <div id="wrapper">
   <header>
      <nav>
        <ul>
          <li><a href="/index" title="Home">Home</a></li>
          <li><a href="/about" title="About">About</a></li>
          <li><a href="/gallery" title="Gallery">Gallery</a></li>
          <li><a href="/contact" title="Contact">Contact</a></li>
        </ul>
      </nav>
      <div id="banner"></div>
    </header>
    <main>
      <h1>Main section</h1>
      <p><%= count %> people are afraid of this show<p>
      <p>Sample main content text.</p>
    </main>
    <aside>
      <h2>Sub-section</h2>
      <p>Sample sidebar text.</p>
    </aside>
   </div> <!-- close wrapper -->
   </body>
</html>
