<html>
  <head>
    <title>All About Anime</title>
    <%- include('header.ejs') %>
  </head>
  <body>
    <header>
       <div id="banner"></div>
    </header>
      <div id="mainpanel">
        <main id="sort1">
        <h1>So you have come to learn more about anime</h1>
        <table>
        <% postset.forEach(function(bpost) { %>
        <%- include('blogpostpreview', {post: bpost}) %>
        <!--<%=bpost.title%>-->
        <br/>
        <% }) %>
        </table>
        <%- include('navbar.ejs') %>
        <br/><br/>
        <a href="write/">Write a post</a>
        </main>
      </div>
  </body>
</html>
