<!DOCTYPE html>
<html>
   <head>
     <meta charset="UTF-8">
     <title>DMS 321 First Homework</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <!--<link href="style.css" rel="stylesheet">-->
     <%- include('header.ejs') %>
   </head>
   <body>
   <header>
      <div id="banner"></div>
    </header>
    <div id="mainpanel">
    <main id="sort2">
      <h1>Main section</h1>
      <p>Sample main content text.</p>
    </main>
    <aside>
      <h2>Sub-section</h2>
      <p>Sample sidebar text.</p>
    </aside>
    <%- include('../views/navbar.ejs') %>
   </div> <!-- close wrapper -->
   </body>
</html>
