<div id="navbar">
  <form method="post" action="welcome">
    <a href="/index">Home</a> &diam;
    <a href="/about">About</a> &diam;
    <a href="/gallery">Gallery</a> &diam;
    <a href="/contact">Contact</a> &diam;
    <input type="text" name="visitorname" />
    <button type="submit">Tell me your name</button>
  </form>
</div>
