<html>
  <head>
    <title>Record your knowledge</title>
    <%- include('header.ejs') %>
  </head>
  <body>
    <header>
       <div id="banner"></div>
    </header>
    <div id="mainpanel">
    <main id="sort1">
    <h1>Tell the people about anime:</h1><br/>
    <form action="/blog/writepost" method="POST">
      <input name="title" type="text" value="TITLE"></input><br/>
      <textarea name="body" style="width: 100%; height: 500px"></textarea><br/>
      <button type="submit">Post!</button>
    </form>
    <%- include('navbar.ejs') %>
    </main>
    </div>
  </body>
</html>
